# General
.DS_Store
Thumbs.db
*.bak
*.tmp

# Android
*.iml
.gradle
local.properties
/.tools/
/artifacts/
*.bin
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.cxx
/build
/captures
.externalNativeBuild
.navigation
/app/build

# Kotlin
.kotlin

# Xcode / iOS
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.build/

# Gemini / API Keys (Security)
# We generally specific files if they contain ONLY keys, but here keys are likely in Preferences modules or local.properties
# Excluding generic "secrets" convention just in case
secrets.properties
win-unpacked
